@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
	text-shadow: 2px 2px 3px currentColor;
	background-color: transparent;
	color: currentColor;
}

::-moz-selection {
	text-shadow: 2px 2px 3px currentColor;
	background-color: transparent;
	color: currentColor;
}

* {
	scrollbar-color: #fff #000;
	scrollbar-width: thin;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: #000;
}

::-webkit-scrollbar-thumb {
	background: #fff;
}

::-webkit-scrollbar-thumb:hover {
	background: #fff;
}

/* Define the keyframes for fade-in and fade-out */
@keyframes fadeInOut {

	0%,
	100% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}
}

/* Apply the animation to the element */
.fade-in-out {
	animation: fadeInOut 4s infinite;
}